.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  column-gap: 55px;
  padding-inline: 112px;
}

.logo {
  display: flex;
  column-gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation {
  display: flex;
  column-gap: 20px;
}

.authorization {
  display: flex;
  column-gap: 24px;
  margin-left: auto;
}

.login {
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  color: #6a0bff;
  background-color: white;
  border: none;
  cursor: pointer;
}

.registration {
  border-radius: 12px;
  padding: 13px 0px;
  width: 170px;
  height: 48px;
  background-color: #6a0bff;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
