.questionSidebar {
  border-radius: 24px;
  padding: 24px;
  width: 392px;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-height: 450px;
}

.lvl {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #474747;
  opacity: 0.66;
}

.lvlButtons {
  display: flex;
  column-gap: 16px;
}

.indicator {
  border-radius: 8px;
  padding: 6px 10px;
  width: 138px;
  height: 33px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #303030;
}

.value {
  margin-left: 6px;
  width: 42px;
  height: 22px;
}

.skills {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.skillsButtons {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}

.skillBtn {
  display: flex;
  align-items: center;
  border: 1px solid #6a0bff;
  border-radius: 12px;
  padding: 10px 12px;
  height: 40px;
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #303030;
  cursor: pointer;
}

.skillBtn:not(:last-child) {
  margin-bottom: 10px;
}

.skillBtn:hover {
  background-color: #6a0bff;
  color: white;
}

.skillImg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.keywords {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.hashtags {
  display: flex;
  column-gap: 14px;
  flex-wrap: wrap;
}

.word {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #6a0bff;
  cursor: pointer;
  margin-bottom: 7px;
}
