.specializationBlock {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #474747;
}

.itemWrapper {
  width: 296px;
}

.showAll {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #5509cc;
  background-color: white;
  border: none;
  cursor: pointer;
}
