.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  width: 740px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
}

.titleBlock {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 100%;
}

.openCloseArrow {
  margin-left: auto;
}

.titleBlock img {
  color: #6a0bff;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.open {
}

.parameters {
  display: flex;
  column-gap: 40px;
}

.rate {
  width: 110px;
  height: 33px;
  border-radius: 8px;
  padding: 6px 10px;
  background: #f4f4f4;
}

span {
  border-radius: 4px;
  padding: 2px 4px;
  width: 21px;
  height: 21px;
  background-color: #6a0bff;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.complexity {
  width: 138px;
  height: 33px;
  border-radius: 8px;
  padding: 6px 10px;
  background: #f4f4f4;
}

.image {
  border-radius: 24px;
  width: 475px;
  height: 312px;
  margin-bottom: 24px;
}

.answer {
  margin-bottom: 24px;
}

.link {
  margin-left: auto;
  display: flex;
  column-gap: 8px;
  width: fit-content;
  color: #6a0bff;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 20px;
}

.answer pre {
  max-width: 100%;
  display: block;
  overflow-x: auto;
  background: #f5f5f5;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  white-space: pre-wrap;
}
