.wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  row-gap: 24px;
  margin: 24px 112px;
}

.content {
  display: flex;
  column-gap: 20px;
  max-width: 804px;
  width: 100%;
}
