.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  column-gap: 55px;
  padding: 0 112px;
}

.logo {
  display: flex;
  column-gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation {
  display: flex;
  column-gap: 20px;
}

.authorization {
  display: flex;
  column-gap: 24px;
  margin-left: auto;
}
