.list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border-radius: 24px;
  padding: 24px 20px 40px;
  width: 804px;
  box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
  background: white;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 17px;
  border-bottom: 1px solid #ccc;
}
