* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: #f4f4f4;
}

h1 {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  line-height: 1.15;
  font-weight: 600;
}

h3 {
  font-size: 34px;
  line-height: 1.15;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

.main {
  margin-top: 40px;
}
