.questionInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.titleBlock {
  display: flex;
  column-gap: 10px;
  border-radius: 24px;
  padding: 24px;
  width: 804px;
  height: 162px;
  box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
  background: white;
}

.titleImg {
  border-radius: 12px;
  width: 170px;
  height: 114px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #303030;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #474747;
}

.titleText {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 512px;
  height: 95px;
}

.shortAnswer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 24px;
  width: 804px;
  background: white;
  padding: 24px;
}

.answerTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #303030;
}

.answerText {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #303030;
}

.longAnswer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 24px;
  width: 804px;
  background: white;
  padding: 24px;
}
pre {
  background-color: #1e1e2f;
  color: #f8f8f2;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  overflow-x: auto;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 0.95rem;
  line-height: 1.5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 1.5rem 0;
  position: relative;
}
